.footer {
    margin-top: 10%;
    width: 75%;
    border-radius: 6px;
}

.footer-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3.5rem;
    padding: 60px;
}

.footer-col h4 {
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-weight: 700;
}

.footer-col .links {
    margin-top: 20px;
}

.footer-col .links li {
    list-style: none;
    margin-bottom: 20px;
}

.footer-col .links li a {
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
    color: #000;
}

.footer-col .links li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -4px;
    left: 0;
    background-color: #000;
    transition: width 0.3s ease;
}

.footer-col .links li a:hover {
    color: #000;
}

.footer-col .links li a:hover::after {
    width: 100%;
}

.footer-col p {
    margin: 20px 0;
    color: #000;
    max-width: 300px;
}

.footer-col .social-media-icons {
    display: flex;
    margin-top: 30px;
    gap: 20px;
}

.footer-col .social-media-icons i {
    font-size: 24px;
    transition: transform 0.3s ease;
}

.footer-col .social-media-icons i:hover {
    transform: scale(1.2);
}

.footer-col .social-media-icons .fa-facebook-f {
    color: #1877F2;
}

.footer-col .social-media-icons .fa-twitter {
    color: #1DA1F2;
}

.footer-col .social-media-icons .fa-instagram {
    color: #E4405F;
}

.footer-col .social-media-icons .fa-github {
    color: #333;
}

.footer-col form {
    display: flex;
    gap: 5px;
}

.footer-col button {
    background: #000;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    color: white;
    transition: 0.2s ease;
}

.footer-bottom {
    border-top: 1px solid #000000;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}

@media (max-width: 1024px) {
    .footer-row {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .footer {
        width: 100%;
        border-radius: 0;
    }

    .footer-row {
        grid-template-columns: 1fr;
        padding: 20px;
        gap: 2rem;
    }

    .footer-col form {
        flex-direction: column;
    }

    .footer-col button {
        margin-top: 10px;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
}