.partners-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 20px;
}

.partners-grid {
    display: grid;
    margin-top: 5%;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    grid-gap: 100px;
    justify-items: center;
}

.partner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 0;
}

.partner img {
    max-width: 100%;
    height: auto;
    filter: brightness(0) invert(1);
    margin-bottom: 10px;
}

.partner p {
    font-size: 2rem;
    color: white;
}

/* Responsive Adjustments */
@media (max-width: 1200px) {
    .partners-grid {
        grid-template-columns: auto auto auto;
    }
}

@media (max-width: 800px) {
    .partners-grid {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 600px) {
    .partners-grid {
        grid-template-columns: auto;
    }

    h1 {
        font-size: 1.5rem;
    }

    .partner p {
        font-size: 0.8rem;
    }
}