.partners-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    grid-gap: 100px;
    justify-items: center;
}

.partner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 0;
    margin: 10px;
}

/* Responsive Adjustments */
@media (max-width: 1200px) {
    .partners-grid {
        grid-template-columns: auto auto auto;
    }
}

@media (max-width: 800px) {
    .partners-grid {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 600px) {
    .partners-grid {
        grid-template-columns: auto;
    }

    h1 {
        font-size: 1.5rem;
    }

    /* .partner p {
        font-size: 0.8rem;
    } */
}